body {
    background-color: rgb(131, 201, 241);
    background-image: radial-gradient(rgb(247, 103, 127) 10%, transparent 11%),
        radial-gradient(#f8f7f3 10%, transparent 11%);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.content {
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}

ul {
    width: 10%;
    margin: auto;
    text-align: center;
}

.pet-table {
    margin: 0 auto;
    border-collapse: collapse;
}

.pet-table th, .pet-table td {
    border: 1px solid black;
    padding: 5px;
}

form {
    margin: 20px auto;
    width: 30%;
    text-align: left;
    padding: 20px;
    border: 1px solid black;
}

label, input[type="submit"] {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid black;
}

.center {
    text-align: center;
}

header {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}

table.table {
  margin: 0 auto;
  width: 50%;
}